*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* header */
.nav_head{
    display: flex;
   
}
.nav_head h1{
    background: #222;
    display: inline-block;
  text-align: center;
  margin-left: 133px;
  color: white;
  padding: 12px;
  text-transform: capitalize;
  letter-spacing: 12px;
}
.head-logo{
flex: 2;
}
.nav_head > ul{
flex: 1;
;
}
.nav_head > ul li{
display: inline;
}
.nav_head > ul li a{
    text-decoration: none;
    margin-left:75px;
    color:#333 ;
    font-size: 23px;
    text-shadow: -3px 2px 2px gray;
}

.nav_head > ul li a:hover{
  border-bottom: 3px solid greenyellow;
  
}

/* showcase */

.showcase{
text-align: center;
margin-top: 443px;


}

.colorPresent h3{
   background: #555;
   color: #fff;
   display: inline-block;
   padding: 32px;
    
}
#btn{
    background:#222;
    color: burlywood;
   margin: 22px;
   padding: 12px;
   border: none;
}
#btn:hover{
    background:#fff;
    color: #111;
    transition: all 2s;
    border: 1px solid #000;
}