*{
    box-sizing: border-box;
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}
/* head nav */
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.head-logo{
flex: 2;
color: #665;
text-transform: uppercase;
word-spacing: 14px;
}
.nav > ul{
    
    display: inline;
    flex:2;
}
ul li{
    display: inline;
}
ul > li a{
    text-decoration: none;
    padding:16px;
    margin: 22px;
    font-size: 33px;
    color:#444;
}
ul > li a:hover{
    background: #777;
    transition: all 2s;
    border-radius: 33px;
    color: #fff;
}
/* the main */
.showcase{
    height: 34vh;
    text-align: center;
    margin-top: 333px;
}
.btn-hero h2{
    background: red;
    height: 10vh;
    width: 33vw;
    padding: 32px;
    margin-left: 611px;
    border-radius: 33px;
}
#btn{
    background:#333;
    color: #fff;
    padding: 12px;
    border: 2px solid grey;
    width: 13vw;
    border-radius: 22px;
}
/* #btn:active{
    border: none;
} */

/* .color{
    background:#F1f5f8 ;
    
} */